* {
    margin: 0;
    padding: 0;
}

.container {
    font-family: 'Nunito Sans', sans-serif;
    width: 97vw;
    position: relative;
    margin: 10px auto;
}

.header {
    background-image: url(/assets/svg/Rectangle\ 36.png), url(/assets/svg/Rectangle\ 38.png);
    background-position: left, right;
    background-size: 820px 800px, 800px 800px;
    background-repeat: no-repeat;
    padding-bottom: 100px;
}

/* .bg-header {
    z-index: -1;
}

.bg-right {
    position: absolute;
    right: 0;
    top: 0;
}

.bg-left {
    position: absolute;
} */

.content-header {
    width: 80vw;
    /* background-color: black; */
    margin: auto;
    padding-top: 40px;
    position: relative;
}

/* nav header */

.nav-header a{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    /* font-weight: 100; */
    color: white;
    text-decoration: none;
    display: flex;
}

.nav-header, .nav-header-left ul, .nav-header-middle ul, .nav-header-right ul {
    list-style: none;
    display: flex;
    flex-direction: row;    
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.nav-header .nav-header-left li{
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 22px;
    font-weight: 900;    
}

.nav-header .nav-header-left ul, li{
    display: flex;
    font-weight: 100;
    gap: 10px;   
}

.nav-header .nav-header-right li:nth-child(2){
    background-color: #FFCA1D;
    font-weight: 600 !important;
    padding: 8px 18px;
    border-radius: 3px;
}

.nav-header .nav-header-right a{
    color: #1F1F1F;
}

/* content header */

.content-header-left {
   /* background-color: #2B3377; */
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    width: 480px;
    margin-top: 90px;
}

.content-header-left p:first-child {
    font-size: 15px;
    color: #606060;
    background-color: #fff;
    width: 200px;
    padding: 5px 5px;
    border-radius: 3px;
    text-align: left;
}

.content-header-left h1 {
    font-size: 48px;
    font-weight: 900;
    margin: 20px 0px 15px 0px;
    
}

.content-header-left p:nth-child(4) {
    font-size: 22px;
    margin-top: 20px;
    font-weight: 100;
}

 .content-header-left p:last-child {
    width: 120px;
    color: #1F1F1F;
    background-color: #FFCA1D;
    font-size: 18px;
    font-weight: 400;
    padding: 12px 15px;
    text-align: center;
    margin-top: 30px;
    border-radius: 3px;
 }

/* lucy */

 .lucy {
    width: 200px;
    height: 200px;
    /* position: relative; */
    position: absolute;
    top: 160px;
    left: 525px;
    background-image: url(/assets/svg/Ellipse\ 5.png);
    background-size: 200px ;
    background-repeat: no-repeat;
    background-position: top center;
    /* background-color: #606060; */
 }

 .lucy .bg-lucy {
    background-image: url(/assets/svg/design-eb8605fe-22dc-412f-9589-e45e3ddc2706\ 2.png), url(/assets/svg/Ellipse\ 3.png), url(/assets/svg/Ellipse\ 2.png);
    width: 180px;
    height: 180px;
    background-color: #606060;
    position: absolute;
    top: 10px;
    left: 10px;
    background-position: top 20px center, top center, top center;
    background-size: 110px, 200px, 200px;
    background-repeat: no-repeat;
    border-radius: 50%;
 }

 .lucy-2 {
    background-color: #fff;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    font-weight: 300;
    padding: 10px 60px;
    position: absolute;
    top: 280px;
    left: 450px;
    border-radius: 50px;
 }

 .lucy-profile {
    width: 500px;
    height: 400px;
    /* background-color: #606060; */
    background-image: url(/assets/svg/Rectangle\ 5.svg);
    background-size: 450px;
    background-repeat: no-repeat;
    background-position: top 0px left 0px;
    position: absolute;
    top: 160px;
    right: -150px;
 }

 .fill-lucy {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 10px;
    font-weight: 100;
    position: absolute;
    top: 25px;
    left: 160px;
 }

 .fill-lucy > p {
    width: 40px;
    color: white;
    background-color: #3ADAD9;
    padding: 5px 10px;
    text-align: center;
    border-radius: 5px;
    position: absolute;
    top: 15px;
    left: 120px;
 }

 .fill-lucy-1 {
    width: 230px;
    font-size: 15px;
    /* background-color: #3ADAD9; */
    position: absolute;
    top: 40px;
    left: -50px;
 }

 .fill-lucy-1 p:first-child {
    color: #6C71A1;
 }

 .fill-lucy-1 p:last-child {
    font-weight: 600;
 }

 .star-lucy {
    background-image: url(/assets/svg/Group\ 7.svg);
    /* background-color: #606060; */
    background-repeat: no-repeat;
    background-size: 80px;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 83px;
    left: -50px;
 }

    /* section mark */

 .section-mark {
    width: 600px;
    height: 200px;
    /* background-color: #606060; */
    position: absolute;
    top: 360px;
    left: 450px;
 }

 .mark-comment {
    width: 600px;
    height: 400px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 10px;
    font-weight: 100;
    background-image: url(/assets/svg/Rectangle\ 7.svg);
    /* background-color: #6C71A1; */
    background-repeat: no-repeat;
    background-position: left -60px top -10px;
    background-size: 500px;
 }

 .fill-mark-1 {
    /* background-color: #6C71A1; */
    position: absolute;
    width: 300px;
    top: 45px;
    left: 43px;
 }

 .fill-mark-1 > p {
    color: #fff;
    font-size: 15px;
    background-color: #FD9B79;
    padding: 3px 15px;
    text-align: center;
    border-radius: 5px;
    position: absolute;
    right: 15px;
 }

 .fill-mark {
    /* width: 150px; */
    font-size: 15px;
    /* background-color: #3ADAD9; */
    position: absolute;
    top: 30px;
    left: 10px;
 }

 .fill-mark p:first-child {
    color: #6C71A1;
 }

 .fill-mark p:last-child {
    font-weight: 600;
 }

 .star-mark {
    width: 200px;
    height: 100px;
    background-image: url(/assets/svg/Group\ 8.svg);
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: left 10px top 75px;
 }

 .circle-mark {
    width: 150px;
    height: 150px;
    /* background-color: rosybrown; */
    background-image: url(/assets/svg/Ellipse\ 6.svg);
    background-repeat: no-repeat;
    background-size: 150px;
    position: absolute;
    top: 10px;
    right: 60px;
 }

 .circle-mark-2 {
    width: 150px;
    height: 150px;
    background-image: url(/assets/svg/Ellipse\ 121.svg);
    background-size: 140px;
    background-position: left 5px top 5px;
    background-repeat: no-repeat;
 }

 .profile-mark {
    /* background-color: #6C71A1; */
    width: 140px;
    height: 140px;
    background-image: url(/assets/svg/design-57b902be-69c5-4398-a429-de10addaeff7\ 1.png);
    background-size: 110px;
    background-repeat: no-repeat;
    background-position: left 20px top 15px;
    border-radius: 50%;
    position: absolute;
    left: 5px;
    top: 5px;
 }

 .mark {
    /* width: 40px;
    height: 40px; */
    font-family: 'Nunito Sans', sans-serif;
    font-size: 12px;
    color: #279E73;
    background-color: #FAFAFA;
    padding: 2px 18px;
    border-radius: 50px;
    position: absolute;
    top: 65px;
    right: 30px;
 }

 .vector-12 {
    width: 800px;
    height: 200px;
    /* background-color: #3ADAD9; */
    background-image: url(/assets/svg/Vector\ 12.svg);
    background-repeat: no-repeat;
    background-size: 600px;
    position: absolute;
    top: 0px;
    left: -100px;
 }

 .vector-11 {
    width: 800px;
    height: 400px;
    background-image: url(/assets/svg/Vector\ 11.png);
    background-repeat: no-repeat;
    background-size: 700px;
    position: absolute;
    left: -120px;
    top: -10px;
 }

 .vector-header {
    width: 97vw;
    height: 800px;
    /* background-color: #279E73; */
    background-image: url(/assets/svg/Vector\ 8.svg),
                      url(/assets/svg/Vector\ 10.svg),
                      url(/assets/svg/Ellipse\ 7.svg),
                      url(/assets/svg/Rectangle\ 10.svg),
                      url(/assets/svg/Group\ 45.svg),
                      url(/assets/svg/Polygon\ 2.svg),
                      url(/assets//svg/Vector\ 2.svg), 
                      url(/assets/svg/Ellipse\ 9.svg); 
                      
    background-size: 550px,
                     700px,
                     15px,
                     35px,
                     45px,
                     25px,
                     50px,
                     25px;
    background-position: top 440px left,
                         top 544px left,
                         top 140px left 380px, 
                         top 180px left 560px,
                         top 350px left 470px,
                         top 460px left 450px,
                         top 270px right 110px,
                         top 268px right 110px;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
 }

 /* section-2 */
.section-2 {
    /* background-color: #279E73; */
    width: 80vw;
    margin: auto;
    margin-top: 80px;
}

 .section-2-top {
    /* height: 200px; */
    /* background-color: #3ADAD9; */
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0px;
    background-image: url(/assets/svg/Line\ 3.svg);
    background-repeat: no-repeat;
    background-size: 50px;
 }

 .section-2-top-left p {
    color: #515151;
    font-size: 22px;
    padding-top: 10px;
    width: 390px;
    /* background-color: #939ada; */
 }

 .section-2-top-right {
    /* background-color: #606060; */
    width: 500px;
    display: flex;
    align-items: start;
    justify-content: space-between;
 }

 .section-2-top-right img {
    width: 90px;
    height: 90px;
 }

 .section-3 {
    margin: 100px auto;
    /* background-color: #3ADAD9; */
    text-align: center;
 }

 .section-3-1 p {
    color: #565656;
    font-size: 33px;
 }

 .section-3-1 span {
    color: #FFCA1D;
 }

 .section-3-2 {
    /* color: #2B3377; */
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
 }

 .section-3-2-1, .section-3-2-2, .section-3-2-3 {
    width: 300px;
    /* background-color: #279E73; */
}

.section-3-2-1 p, .section-3-2-2 p, .section-3-2-3 p {
    color: #585858;
    font-size: 15px;
    font-weight: 100;
}

 .section-3-2-1 img, .section-3-2-2 img {
    background-color: #FED369;
    width: 35px;
    padding: 20px;
    border-radius: 15px;
 }

 .section-3 h3 {
    color: #2B3377;
    font-size: 18px;
    margin: 30px 0px;
 }

 .section-3-2-2 img {
    background-color: #3ADAD9;
 }

 .section-3-2-3 img {
    width: 70px;
 }

 .section-3-3 {
    margin-top: 80px;
 }
 .section-3-3-1 {
    color: #565656;
    font-size: 33px;
 }

 .section-3-3-1 span {
    color: #FFCA1D;
 }

 .section-3-3-2 {
    display: flex;
    justify-content: space-between;
    position: relative;
    
 }

 .section-3-3-2-1 {
    width: 550px;
    height: 500px;
    margin-top: 50px;
    /* background-color: #3ADAD9; */
    background-image:
    url(/assets/svg/Group\ 28.svg),
    url(/assets//svg/Ellipse3.svg),
    url(/assets/svg/Ellipse2.svg),
    url(/assets/svg/Ellipse1.svg),
    url(/assets/svg/Ellipse.svg),
    url(/assets/svg/Ellipse\ 80.svg),
    url(/assets/svg/Ellipse\ 79.svg),
    url(/assets/svg/Ellipse\ 78.svg);
    background-repeat: no-repeat;
    background-position:
    bottom 120px right 110px,
    top 210px left 230px,
    top 180px left 330px,
    top 140px left 5px,
    top 355px left 130px,
    top 0 left 20px,
    top 75px left 95px,
    top 150px left 170px;
    background-size: 
    60px,
    80px,
    45px,
    60px,
    50px,
    500px,
    350px,
    200px;
 }

 .section-3-3-2-2 {
    width: 460px;
    height: 400px;
    /* background-color: #279E73; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
 }

 .section-3-3-2-1-1 {
    /* background-color: #2B3377; */
    width: 100px;
    height: 100px;
    position: relative;
    position: absolute;
    top: 310px;
    left: 130px;
 }

.section-3-3-2-1-2 img:last-child, .section-3-3-2-1-3 img:last-child, .section-3-3-2-1-4 img:last-child {
    position: absolute;
    top: 12px;
    right: 28px;
}

.section-3-3-2-1-3 {
    width: 100px;
    height: 100px;
    position: absolute;
    top: -180px;
    right: -300px;
}

.section-3-3-2-1-4 {
    width: 100px;
    height: 100px;
    position: absolute;
    top: -220px;
    left: 30px;
}

.comment-section-our-feature {
   /* width: 200px;
   height: 200px; */
   /* background-color: #3ADAD9; */
   position: absolute;
   top: 80px;
   left: 40px;
}

.section-3-3-2-2 {
    margin-top: 80px;
    /* background-color: #279E73; */
}

.section-3-3-2-2 h3 {
    color: #4A4A4A;
    font-size: 30px;
    font-weight: 700;
    text-align: start;
}

.section-3-3-2-2 p {
   color: #575757;
   font-weight: 300;
   text-align: start;
}

.our-feature-1 {
   width: 200px;
   position: absolute;
   top: 42px;
   left: 100px;
   /* background-color: #279E73; */
   display: flex;
   flex-direction: row;
   gap: 65px;
}

.our-feature-1 p {
   text-align: end;
   color: #38C73E;
   font-size: 14px;
   font-weight: 400;
}

.our-feature-3 {
   font-size: 12px;
   display: flex;
   flex-direction: row;
   position: absolute;
   top: 92px;
   left: 100px;
   gap: 5px;
}

.name-angelina {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}

.name-angelina p:first-child {
   color: #3B4EB2;
}

.name-angelina p:last-child {
   color: #7F86AE;
   font-weight: 100;
}

.our-feature-3 > p {
   background-color: #FFCA1D;
   padding: 5px 20px;
   display: flex;
   align-items: center;
   border-radius: 5px;
}

.our-feature-ornament {
   width: 550px;
   height: 500px;
   /* background-color: #38C73E; */
   background-image:
   url(/assets/svg/Ellipse\ 90.svg),
   url(/assets/svg/Ellipse\ 89.svg),
   url(/assets/svg/Ellipse\ 87.svg),
   url(/assets/svg/Ellipse\ 86.svg),
   url(/assets/svg/Ellipse\ 88.svg),
   url(/assets/svg/Ellipse\ 85.svg); 
   background-position: 
   top 40px left 90px,
   top 80px right 160px,
   top 165px left 150px,
   center right 20px,
   bottom 120px right 250px,
   bottom 90px left 30px;   
   background-repeat: no-repeat;
}

.boost-your-work {
   color: #2F4BDF;
   font-size: 12px;
   background-color: #fff;
   width: 150px;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 5px;
   padding: 5px;
   border-radius: 5px;
   position: absolute;
   right: 570px;
   bottom: 40px;
   box-shadow: 4px 5px 20px 0px rgba(74, 105, 165, 0.16);
}

.boost-your-work img {
   width: 40px;
}

 





 










