* {
    margin: 0;
    padding: 0;
}

.body {
    width: 100%;
    max-width: 100vw;
}

.container {
    /* min-width: 100vw; */
}

.bg-top {
    position: absolute;
    margin: auto;
    z-index: -1;
}

.svg-top-left {
    position: absolute;
}

.svg-top-right {
    position: absolute;
    left: 400px;
    z-index: -2;
}
